/* Default */

:root{
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    outline: none;
}
a:link { color: white; }
a:visited { color: wheat; }

.visually-hidden {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


ul {
    list-style-type: none;
    display: flex;
}

.container { 
    padding-left: 30.2rem;
    padding-right: 30.2rem;
}


/* Header */


.header{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.header_number{
    color: #EB6329;
    margin-left: 7rem;
}

.header-nav{
    margin-left: auto;
}

.list_item:hover {
    color: #EB6329;
}

.list_item:first-child,
.header-number {
    color: #EB6329
}

.list_item:not(:first-child) {
    margin-left: 2rem;
}

.list_item:not(:last-child) {
    padding-right: 2rem;
    border-right: 0.2rem #D9D9D9 solid;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;*/
    height: 5rem;
    padding-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-size: 1.8rem;
}


/* HERO */


.hero {
    color: white;
    max-width: 100%;
    height: 82rem;
    background-image: url("../img/hero_img.png");
    padding-top: 15rem;
}

.hero_text {
    padding-left: 1rem;
    font-size: 4rem;
    border-left: 0.5rem #EB6329 solid;
    max-width: 62.3rem;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}



/* Industry */

.industry_heading {
    color: #464646;
    font-size: 2.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.industry_filter {
    padding-bottom: 8rem;
    padding-top: 8rem;
    background-color: #F0F0F0;
}

.industry_filter_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 130rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}


.industry_filter_item {
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.industry_filter_item>button {
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: 0.2rem #464646 solid;
}

.industry_filter_item:first-child>button {
    color: white;
    background-color: #464646;
}

.industry_filter_item>button:hover {
    color: white;
    background-color: #464646;
}

.industry_filter_all { 
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.industry_filter_all-btn{
    width: max-content;
    background-color: transparent;
    margin-top: 4rem;
    border: 0;
    padding-right: 3rem;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 2.5rem 1.2rem;
    font-size: 2rem;
}

.industry_card>h3{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
}

.industry_card>p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
}

.industry_cards{
    margin-top: 10rem;
    color: #464646;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.industry_card {
    max-width: min-content;
    height: 40rem;
    margin-left: 2rem;
    /*margin-top: 4rem;*/
}
.industry_card:nth-child(3n+1) { 
    margin: 0;
}

.industry_card>h3 { 
    font-size: 2.8rem;
}

.industry_card>p { 
    font-size: 2.2rem;
}

.industry_card>img { 
   width: 41.2rem;
   height: 26rem;
}

.industry_cards_all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4rem;
    justify-content: center;
    padding-bottom: 10rem;

}

.industry_cards_all-btn{
    border: 0;
    padding-right: 3rem;
    background-color: transparent;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 2.5rem 1.2rem;
    font-size: 2rem;
}

/* Tagline */

.tagline{
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    justify-content: center;
    height: 344px;
}

.tagline_text{
    color: #EB6329;
}

/* Partners */

.partners{
    background: white;
}

.partners_tagline{
    color: #EB6329;
}

.partners_text{
    width: 864px;
    padding-top: 150px;
    padding-left: 302px;
}

.partners_cards{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 150px;
}

/* Forms */
/*.form{*/
/*    background: #464646;*/
/*    color: white;*/
/*}*/

/*.form_text{*/
/*    max-width: 638px;*/
/*    padding-top: 150px;*/
/*    padding-left: 302px;*/
/*}*/


/* Forms */
.form {
    background: #464646;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 1139px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.form_text{
    max-width: 638px;

}

.form_text>p{
    margin-top: 10px;
}

.form>form {
    color: #D8D8D8;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 839px;
    width: 638px;
    padding: 15px 60px;
    margin-left: 40px;
}

.form>form>div>input,
.form>form>div>textarea {
    max-width: 600px;
    width: 100%;
    padding: 14px 15px;
}

#comment {
    height: 130px;
}

.form>form>div {
    margin-top: 25px;
    font-size: 15px;
}

.user_agreement {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    color: black;
    text-wrap: none;

}
.user_agreement>input{
    width: 10%;
}

.submit-btn{

    padding: 18px 28px;
    gap: 10px;
    max-width: 256px;
}